SERVICE_URI="Your service uri"

DB_NAME="your database name"

DB_HOST="your database host"

DB_PORT="your database port"

DB_USER="your database user"

DB_PASSWORD="your database password"

SSL_MODE="your databse ssl mode"

CA_CERTIFICATE="your database ca certificate"


SMTP_HOST="smtp.gmail.com"
SMTP_USER="YOUR GMAIL"
SMTP_PASS="YOUR PASSWORD"
SMTP_PORT="465"

SMTP_FROM_EMAIL="noreply@posbarcode.com"